* {
  margin: 0 0;
  box-sizing: border-box;
}

a {
  color: white;
  font-size: 18px;
  margin-left: 5px;
}

section {
  margin: 5%;
}
p h2 h3 {
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: linear-gradient(to left, #2C2E82 0%, #5659ff 100%);
  padding-left: 10px;
}

.header--h1 {
  padding-top: 25px;
}

.header--p {
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 10px;

  line-height: 25px;
}
.social-links {
  background-color: #2C2E82;
}

.links {
  /* padding-left: 10px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mail,
.linkedin,
.github {
  filter: brightness(10000);
  box-sizing: border-box;
}

li {
  list-style: none;
}

.experience__list {
  margin: 40px;
}

svg {
  fill: white;
}

.experience__card {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0 5px 10px #00000040;
  width: 100%;
  border-radius: 10px;
  line-height: 150%;
}
.experience__header {
  /* background-color: rgb(38, 15, 133);
  height: 100%;
  width: 100px; */
  position: relative;
  right: -5%;
  width: 25%;
}

.experience__info {
  padding: 2%;
  border-left: 6px solid #2C2E82;
}

.experience__header--icon {
  width: 100%;
}

.experience__header--icon > svg {
  width: 50%;
  height: 50%;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0 5px 10px #00000040;
  padding: 10px 15px;
  width: fit-content;
  border-radius: 10px;
}

.skill-card__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.skill-card__info img {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.spandot {
  padding-top: 14px;
}

.skills-section > .skill-cards {
  padding: 40px;
  margin: 40px;
}

section > h1 {
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgb(193, 184, 242), rgb(52, 28, 191), rgb(193, 184, 242));
  border-image-slice: 1;
  width:100%;
}

.languages-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 40px;
  padding: 40px;
}